block scripts
  include ./home.js

block content

  section.page-header

    h1.project-name Zip-train
    h2.project-tagline Choose your level

    a.btn(href='/noob') noob
    a.btn(href='https://github.com/sbolel/express-pug-starter/zipball/master') Download .zip
    a#gh-tar.btn(href='https://github.com/sbolel/express-pug-starter/tarball/master') Download .tar.gz