extends ./layout

block content
  if error
    h1.red #{error}
  else if msg
      h1.green #{msg}
  else if secureInput
      h1
        a(style="text-decoration: none; color: #9e9e9e" href!=secureInput) Upload your best content!
  else
    if nope
      h1.red #{nope}
    else 
      h1 
        a(style="text-decoration: none; color: #9e9e9e") Upload your best content!
      h1 Your content type must be one of: *.png, *.bmp, *.gif, *.jpg, *.jpeg
  form(method='POST' action="/upload?level=programmer" enctype="multipart/form-data")
    input(type='file' name='avatea' id='file')
    p Drag your files here or click in this area.
    button(type='submit') Upload
  br
  if files
    for file in files
      img(src!='static/' + uid + '/' + file)
      h1 !{file}