block title
  title zip-train

block meta
  meta(name='author', content='Louis JURCZYK <louis@jurczyk.fr>')
  meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width')
  meta(property='og:title', content='zip-train')
  meta(property='og:description', content='zip-train')
  meta(property='og:type', content='website')
  meta(property='og:site_name', content='zip-train')
  meta(itemprop='name', content='zip-train')
  meta(itemprop='description', content='zip-train')